@config "../tailwind.config.mjs";
@import "../design-tokens/design-tokens.css";
@import "tailwindcss";

body {
  background: var(--sds-color-background-default-default);
  color: var(--sds-color-text-default-default);
  font-family: var(--sds-typography-body-font-family);
}
