`@import` "../design-tokens/design-tokens.css";
`@import` "tailwindcss";
`@config` "../tailwind.config.mjs";

body {
  background: var(--sds-color-background-default-default);
  color: var(--sds-color-text-default-default);
  font-family: var(--sds-typography-body-font-family);
}
